* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { min-height: 100vh; }

html { font-size: 62.5%; font-family: var(--ff2); }

body { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 100vh; }

h1, h2, h3, h4, h5, h6 { font-family: var(--ff1); }

ul { padding: 0; list-style: none; }

li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

li p { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

li .todo { background: var(--background); -webkit-box-flex: 0; -ms-flex: 0 0; flex: 0 0; height: 2rem; border-radius: 3rem; margin-right: 1.5rem; }

a { color: var(--text); text-decoration: none; }

img { max-width: 100%; }

p { margin: 0; font-size: 2rem; }

:root { --ff1: 'Acme', sans-serif; --ff2: 'Caveat', cursive; --light: #e9a956; --primary: #ffbe28; --dark: #e2d5c4a4; --text: #333; --background: #ece7e7; --hint: #999; --border: #ddd; --clear: green; --fail: red; }

header { grid-area: header; font-family: var(--ff2); font-size: 3rem; text-align: center; padding: 3rem 0; background: -webkit-gradient(linear, left top, right top, from(var(--light)), to(var(--dark))); background: linear-gradient(to right, var(--light), var(--dark)); }

.grid-container { padding: 5rem 0; background-image: url(/img/background.jpg); background-size: cover; background-attachment: fixed; display: -ms-grid; display: grid; grid: "emptyl add-task add-task emptyr" auto  "emptyl2 todo-list its-done emptyr2" auto / 15% 35% 35% 15%; }

.emptyl { grid-area: emptyl; }

.add-task { grid-area: add-task; background: var(--dark); }

.add-task p { font-size: 3rem; text-align: center; padding: 5rem 0 3rem 0; font-weight: 600; }

.add-task form { display: block; width: 80%; margin: auto; }

.add-task form i { font-size: 4rem; color: var(--light); background-color: rgba(238, 238, 238, 0); }

.add-task form button { background-color: rgba(238, 238, 238, 0); border: none; padding: 1rem; }

.add-task form input { font-size: 4rem; padding: 1rem; width: 90%; }

.add-task form .date { font-size: 2rem; padding: 0.5rem; width: 50%; }

.add-task form .date p { font-size: 3rem; text-align: left; padding: 0; font-weight: 600; }

.emptyr { grid-area: emptyr; }

.emptyl2 { grid-area: emptyl2; }

.todo-list { background: var(--dark); min-height: 70vh; }

.todo-list li { border: 1px solid black; padding: 1rem; width: 85%; margin: 0 auto 1rem auto; }

.todo-list li p { font-size: 3rem; }

.todo-list li .todo { background: var(--hint); -webkit-box-flex: 0; -ms-flex: 0 0 2rem; flex: 0 0 2rem; height: 2rem; border-radius: 3rem; border: 1px solid black; margin-right: 1.5rem; }

.todo-list li .done { background: var(--clear); border: 1px solid black; }

.todo-list li i { font-size: 2rem; color: var(--red); }

.todo-list li button { background-color: rgba(238, 238, 238, 0); border: none; padding: 1rem; }

.todo-list li input { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-family: var(--ff2); padding: 1rem; font-size: 2rem; }

.its-done { background: var(--dark); }

.emptyr2 { grid-area: emptyr2; }
/*# sourceMappingURL=style.css.map */